html {
    box-sizing:border-box;
    width:auto;
    height:auto;
    overflow: overlay;
}

body {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    background: #E7E7E7;
}

.placeholder {
    width: 100%;
    height: 98px;
}
/*HEADER CONTAINER*/
.header {
    position: fixed;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    background: #FFFFFF;
    border-bottom: 4px solid #1596D0;

}

.logo-container a {
    text-decoration: none;
}
.logo-container {
    flex: 0 1 auto;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    padding-left: 35px;

    /* border:1px solid orange; */
}
.header-menu {
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-evenly;
    /* border:1px solid orangered; */
}
.button {
    flex: 0 1 auto;

    border: none;
    box-shadow: none;
    cursor: pointer;

    font-family:'Montserrat';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing:.2px;
    text-decoration: none;
    color: rgba(30, 30, 30, 0.5);
    background-color: rgba(0.0, 0.0, 0.0, 0.0);

    padding-right: 6vw;
}
.button:hover,.button:focus,.button.active {
    color: #1596D0;
}

/*WORKSPACE CONTAINER*/
.workspace {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    /* border: 5px solid green; */
}

#app.page {
    display: none;
}
#app.page.active{
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    width: 100vw;
    height: calc(100vh - 99px);
}
.side-bar {
    height: 100%;
    min-width: 70px;
    background: #1596D0;
}
.side-bar-menu-btn {
    position: relative;
    left: 14px;
    top: 14px;

    border:none;

    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;
    text-align: center;

    background-color: transparent;
    color: #FFFFFF;

    cursor: pointer;
}
.side-bar-menu-btn.active,.side-bar-menu-btn:hover {
    background-color: rgba(15, 109, 153, 0.7);
    border: 1px solid transparent;
    border-radius: 5px;
    color: #FFFFFF;
}
.menu {
    display: flex;
    flex-flow: column wrap;

    width: 0px;
    height: 100%;
    max-width: 550px;
    max-height: 100%;

    transition: 0.75s;
    background-color: #E4E4E4;
}

.label {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17pt;
    line-height: 27pt;
    text-align: left;

    padding-right: 10px;

    color: #000000;
}
.field {
    margin-left: 25px;
    margin-right: 25px;
}
.field-box {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    min-height: 40px;
    padding-right: 6px;

    border: 1px solid transparent;
    border-radius: 5px;

    background-color: white;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: left;

    color: #969696;
}
.large.field-box {
    min-width: 370px;
}
.drop-down {
    border: transparent;

    padding-left: 10px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    text-align: left;

    color: #6d6d6d;
}
#option {
    display: flex;
    padding-top: 5px;
}
#option .input {
    padding-left: 10px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    text-align: left;

    color: #6d6d6d;

    border: transparent;
}

.btn-text {
    padding-left: 10px;
}
.menu-icon {
    padding-right: 10px;
    padding-left: 12px;
}

#selection {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 28px;
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;

    cursor: pointer;
}
.selection-mode {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    height: 45px;
    max-width: 390px;
    
    border: 1px solid transparent;
    border-radius: 10px;

    color: #FFFFFF;
    background: #1596D0;
}

.user-request-container {
    display: flex;
    justify-content: space-evenly;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 50px;
    text-align: center;

    max-width: 390px;
    margin-left: 20px;
    padding-top: 70px;
}
.user-request-btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    border-radius: 10px;

    color: #000000;
    background: #D9D9D9;

    /* cursor:no-drop; */
}

.user-request-btn.active {
    color: #ffffff;
    background: #1596D0;
    font-weight: 400;
    cursor: pointer;
}

.loader {
    position: fixed;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #a0a0a0; /* Blue */
    border-radius: 100%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;

    top: 50%;
    left: 50%;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.earth-engine-app {
    display: flex;
    width: 100%;
    height: 100%;
}
iframe {
    flex: 1 1 auto;
    background: #FFFFFF;
}

.text-container {
    align-items: center;
}
#project.page {
    display: none;
}
#project.page.active{
    display: block;
    /* border: 1px solid black; */
    margin-right: 500px;
}
#project .text-container {
    display: flex;
    flex-flow: column wrap;

    width: min(95%, 1300px);
    margin-inline: auto;
    margin-top: 2rem;
    padding: 2rem;

    border-radius: 20px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
#title p {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 25px;
    font-weight: 800;
    text-align: center;

    color:#1596D0;

    margin-top: -5px;
    margin-bottom: 25px;
}

#nexusarea-legend {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    text-align: center;

    color: rgb(102, 102, 102);
}
#project-description {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    text-align: justify;
}
#project-description p {
    text-indent: 20px;
    line-height: 1.5;
    margin-bottom: -15px;
}

#method.page {
    display: none;
}
#method.page.active{
    display: block;
}


p.t {
    margin-top: 2%;

    font-weight: 800;
    text-align: center;
    font-size: 20px;

    color:#1596D0;
}
p.a {
    padding-left: 10px;
    font-size: 17.5px;
}
p.e {
    padding-left: 14px;
    margin-top: -14.5px;
    font-size: 16px;

    color: rgb(102, 102, 102);
}
.fa-solid.fa-envelope {
    padding-right: 4px;
}

.side-box {
    display: none;
}
.side-box.active {
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    top: 130px;
    margin-left: min(77% - 65px, 77%);
    width: 480px;

    font-family: 'Montserrat';
    font-style: normal;
}
.side-box .authors {
    margin-bottom: 20px;

    border-radius: 10px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.side-box .ack {
    
    border-radius: 10px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

#method.page {
    display: none;
}
#method.page.active{
    display: block;
    margin-right: 500px;
}
#method .text-container {
    display: flex;
    flex-flow: column wrap;

    width: min(95%, 1300px);
    margin-inline: auto;
    margin-top: 2rem;
    padding: 2rem;

    border-radius: 20px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}